*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 24px;
    margin-top: 6%;
}

.mascota{
    display: flex;
    justify-content: center;
}

.mascota img{
    width: 70%;
}

.tarjeta{
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    max-width: 400px;
    width: 100%;
    margin-top: 10%;
}

.tarjeta h2{
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

label{
    font-weight: 600;
    color: #374151;
}

select {
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botones .guardar{
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.botones .cancelar {
    background-color: red;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}