*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

.info{
    font-size: 14px;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: 500;
}

.redes a{
    color: #3498db;
    font-size: 20px;
    margin: 8px;
}
