*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: #2c3e50;
    color: white;
    height: 90px;
    align-items: center;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo .logo_bjj{
    width: 100%;
    max-width: 80px;
}

header .logo .logo_bjj:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


header .menu a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: 500;
}

header .menu a:hover{
    color: white;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

header .perfil_icono{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .perfil_icono a{
    color: white;
    font-size: 22px;
}

header .perfil_icono a:hover{
    color: #f1c40f;
    transform: rotate(10deg) scale(1.2);
    transition: color 0.3 ease, transform 0.3s ease;
}